<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    
    <add key="ConnectionString" value="Data Source=46.17.94.187\MSSQLSERVER2019;Initial Catalog=k9kondop_FO2008-2019;User ID=tam2008-2019; password=B!7ym84v;Pooling=true;Min Pool Size =5;Max Pool Size=150" />
  </appSettings>
</configuration>